/**
 * OAM theme
 *
 * By Daniel da Silva
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #1f3b45;
$headingColor: #1f3b45;

$mainFontSize: 38px;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Open Sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 700;
$linkColor: #439ab4;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
